# Import Libraries and Data

In [1]:
#Import libraries as required
import pandas as pd
from pathlib import Path

%matplotlib inline

In [4]:
#Define the path 
csv_path = Path ("../Avocado Prices/avocado.csv")

#Read the csv and set the index
avc_df = pd.read_csv (csv_path, parse_dates = True, index_col = "Date")
avc_df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

# Data Clean Up and Analysis

In [5]:
#Check null values and drop them
avc_df = avc_df.isnull().dropna()

### View the Column Data types

In [6]:
#Use the 'dtypes' attributes to determine the type of data in the columns
avc_df.dtypes

Unnamed: 0      bool
AveragePrice    bool
Total Volume    bool
4046            bool
4225            bool
4770            bool
Total Bags      bool
Small Bags      bool
Large Bags      bool
XLarge Bags     bool
type            bool
year            bool
region          bool
dtype: object

### Dropping the excess columns

In [7]:
#Drop the unrequired column 'Unnamed: O'
avc_df.drop(columns = ["Unnamed: 0"], inplace = True)

In [8]:
# Use the `count` function to view count of non-null values for each column
avc_df.count()

AveragePrice    18249
Total Volume    18249
4046            18249
4225            18249
4770            18249
Total Bags      18249
Small Bags      18249
Large Bags      18249
XLarge Bags     18249
type            18249
year            18249
region          18249
dtype: int64

# Studying the Correlation between prices & the PLU values

In [ ]:
#Using the loc function to extract the required data
plu_df = avc_df.loc["AveragePrice":"4770"]
plu_df